body {
	font: bold 11px/1.5em Verdana;
	}
	
h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight:bold;
	margin:0;
	padding:0;
	color:#627EB7;
	}

h2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	color:#627EB7;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}
	
#tabs {
	float:left;
	width:100%;
	background:#F4F7FB;
	font-size:100%;
	line-height:normal;
	border-bottom:1px solid #BCD2E6;
	position: relative;
	top:20px;
	}
#tabs ul {
	margin:0;
	padding:15px 10px 0 60px;
	list-style:none;
	}
#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}
#tabs a {
	float:left;
	background:url({{ url_for('static', filename='tableft.css') }}) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
#tabs a span {
	float:left;
	display:block;
	background:url({{ url_for('static', filename='tabright.css') }}) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#627EB7;
	}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */
#tabs a:hover span {
	color:#627EB7;
	}
#tabs a:hover {
	background-position:0% -42px;
	}
#tabs a:hover span {
	background-position:100% -42px;
	}  
.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	padding:18px 54px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}
