<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='search.css') }}">

</head>
	<body>
	<h1> donateOn -- every bit counts</h1>
	<hr />	
	<div id="tabs">
        <ul>
            <li><a href="{{url_for('home')}}"><span>Home</span></a></li>
            <li><a href="{{url_for('activity')}}"><span>My Charities</span></a></li>
            <li><a href="{{url_for('friends')}}"><span>Friends</span></a></li>
            <li><a href="{{url_for('about')}}"><span>About</span></a></li>
        </ul> 
    {% for i in causes%}
    <br><br>
    <h2> {{i.name}}</h2>
    <p> {{i.contact}} </p>
    <p> {{i.description}}</p>
    <a href="{{url_for('donate', charity = i.id)}}" class="myButton">Donate</a><br><br>
    {% endfor %}
    


